<div class="modal-header">
    <h5 class="modal-title mt-0">Edit Company Details</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  
    <div class="modal-body">
   Body
    </div>
    <div class="modal-footer">
      <button>Submit</button>
      <button
        type="button"
        class="btn btn-danger"
        data-dismiss="modal"
        (click)="modal.dismiss('Cross click')"
      >
        Close
      </button>
    </div>
  